net45/Client.ObjectModel.V1/Service References/ObjectModel.V1/ObjectModelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://www.gecko.no/ephorte/services/objectmodel/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObjectModelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ObjectModelService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.gecko.no/ephorte/services/objectmodel/v1" location="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/objectmodel/v1/ObjectModelService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ObjectModelService" type="i0:ObjectModelService">
    <wsp:PolicyReference URI="#WSHttpBinding_ObjectModelService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSelect">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSelectCount">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteSelectCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdate">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatchUpdate">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteBatchUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteInsert">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDelete">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyDefaults">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ApplyDefaults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ObjectModelService" type="i0:ObjectModelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSelect">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSelectCount">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteSelectCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdate">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatchUpdate">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteBatchUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteInsert">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDelete">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ExecuteDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyDefaults">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/objectmodel/v1/ObjectModelService/ApplyDefaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectModelService">
    <wsdl:port name="WSHttpBinding_ObjectModelService" binding="tns:WSHttpBinding_ObjectModelService">
      <soap12:address location="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/objectmodel/v1/ObjectModelService.svc/ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/objectmodel/v1/ObjectModelService.svc/ws</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ObjectModelService" binding="tns:BasicHttpBinding_ObjectModelService">
      <soap:address location="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/objectmodel/v1/ObjectModelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>