net35/Client.ChangeTracking.V1/Service References/ChangeTracking.V1/ChangeTrackingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gecko.no/ephorte/services/changetracking/v1" elementFormDefault="qualified" targetNamespace="http://www.gecko.no/ephorte/services/changetracking/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/ChangeTracking/V1/ChangeTrackingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetChangesForCaseDataObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identity" nillable="true" type="tns:EphorteIdentity" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="caseIds" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="after" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EphorteIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalSystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EphorteIdentity" nillable="true" type="tns:EphorteIdentity" />
  <xs:element name="GetChangesForCaseDataObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChangesForCaseDataObjectsResult" nillable="true" type="tns:ArrayOfDataObjectChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDataObjectChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataObjectChange" nillable="true" type="tns:DataObjectChange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataObjectChange" nillable="true" type="tns:ArrayOfDataObjectChange" />
  <xs:complexType name="DataObjectChange">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseId" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Changetype" type="tns:ChangeType" />
      <xs:element minOccurs="0" name="DataObjectKey" nillable="true" type="tns:DataObjectKey" />
      <xs:element minOccurs="0" name="DataObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataObjectChange" nillable="true" type="tns:DataObjectChange" />
  <xs:simpleType name="ChangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="InsertUpdate" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeType" nillable="true" type="tns:ChangeType" />
  <xs:complexType name="DataObjectKey">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataObjectKey" nillable="true" type="tns:DataObjectKey" />
  <xs:element name="GetChangesForRecordDataObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identity" nillable="true" type="tns:EphorteIdentity" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recordIds" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="after" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangesForRecordDataObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChangesForRecordDataObjectsResult" nillable="true" type="tns:ArrayOfDataObjectChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>