net35/Client.ObjectModel.V1/Service References/ObjectModel.V1/ObjectModelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gecko.no/ephorte/services/objectmodel/v1" elementFormDefault="qualified" targetNamespace="http://www.gecko.no/ephorte/services/objectmodel/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/ObjectModel/V1/ObjectModelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" />
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/ObjectModel/V1/ObjectModelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" />
  <xs:element name="ExecuteSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q1:EphorteIdentity" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="ExecuteSelectResult" nillable="true" type="q2:ArrayOfDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSelectCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q3:EphorteIdentity" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSelectCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSelectCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q4:EphorteIdentity" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="originalObject" nillable="true" type="q5:DataObject" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="modifiedObject" nillable="true" type="q6:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="ExecuteUpdateResult" nillable="true" type="q7:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteBatchUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q8:EphorteIdentity" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="modifiedObjects" nillable="true" type="q9:ArrayOfModifiedDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteBatchUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="ExecuteBatchUpdateResult" nillable="true" type="q10:ArrayOfDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q11:EphorteIdentity" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="modifiedObject" nillable="true" type="q12:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="ExecuteInsertResult" nillable="true" type="q13:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q14:EphorteIdentity" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="dataObject" nillable="true" type="q15:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyDefaults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q16:EphorteIdentity" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="dataObject" nillable="true" type="q17:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyDefaultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.ObjectModel.V1" minOccurs="0" name="ApplyDefaultsResult" nillable="true" type="q18:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>