net45/Client.ObjectModel.V3.No/Service References/ObjectModel.V3.No/ObjectModelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/no" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/ObjectModel/V3/No/ObjectModelService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/ObjectModel/V3/No/ObjectModelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="FilteredQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q1:EphorteIdentity" />
        <xs:element xmlns:q2="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="arguments" nillable="true" type="q2:FilteredQueryArguments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EphorteIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalSystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="EphorteIdentity" nillable="true" type="q3:EphorteIdentity" />
  <xs:complexType name="FilteredQueryArguments">
    <xs:sequence>
      <xs:element name="DataObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilterExpression" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelatedObjects" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="ReturnTotalCount" type="xs:boolean" />
      <xs:element minOccurs="0" name="SkipCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TakeCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="FilteredQueryArguments" nillable="true" type="q5:FilteredQueryArguments" />
  <xs:element name="FilteredQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="FilteredQueryResult" nillable="true" type="q6:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryResult">
    <xs:sequence>
      <xs:element xmlns:q7="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="DataObjects" nillable="true" type="q7:ArrayOfDataObject" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="QueryResult" nillable="true" type="q8:QueryResult" />
  <xs:complexType name="ArrayOfDataObject">
    <xs:sequence>
      <xs:element xmlns:q9="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" maxOccurs="unbounded" name="DataObject" nillable="true" type="q9:DataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ArrayOfDataObject" nillable="true" type="q10:ArrayOfDataObject" />
  <xs:complexType name="DataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="SourceDatabase" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q11="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="DataObject" nillable="true" type="q11:DataObject" />
  <xs:complexType name="ObjectRights">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://www.gecko.no/ephorte/services/objectmodel/v3/no" base="q12:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="KanEndre" type="xs:boolean" />
          <xs:element minOccurs="0" name="KanOpprette" type="xs:boolean" />
          <xs:element minOccurs="0" name="KanSlette" type="xs:boolean" />
          <xs:element minOccurs="0" name="Sperret" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q13="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ObjectRights" nillable="true" type="q13:ObjectRights" />
  <xs:element name="PredefinedQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q14:EphorteIdentity" />
        <xs:element xmlns:q15="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="arguments" nillable="true" type="q15:PredefinedQueryArguments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PredefinedQueryArguments">
    <xs:sequence>
      <xs:element name="DataObjectName" nillable="true" type="xs:string" />
      <xs:element name="PredefinedSeachId" type="xs:int" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelatedObjects" nillable="true" type="q16:ArrayOfstring" />
      <xs:element minOccurs="0" name="ReturnTotalCount" type="xs:boolean" />
      <xs:element minOccurs="0" name="SkipCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TakeCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q17="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="PredefinedQueryArguments" nillable="true" type="q17:PredefinedQueryArguments" />
  <xs:element name="PredefinedQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="PredefinedQueryResult" nillable="true" type="q18:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fetch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q19:EphorteIdentity" />
        <xs:element xmlns:q20="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="arguments" nillable="true" type="q20:FetchArguments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FetchArguments">
    <xs:sequence>
      <xs:element name="DataObjectName" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="PrimaryKeys" nillable="true" type="q21:PrimaryKeyCollection" />
      <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelatedObjects" nillable="true" type="q22:ArrayOfstring" />
      <xs:element minOccurs="0" name="ReturnAccessRights" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnRequiredFields" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q23="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="FetchArguments" nillable="true" type="q23:FetchArguments" />
  <xs:complexType name="PrimaryKeyCollection">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrimaryKey">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q24="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="PrimaryKeyCollection" nillable="true" type="q24:PrimaryKeyCollection" />
  <xs:element name="FetchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="FetchResult" nillable="true" type="q25:FetchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FetchResult">
    <xs:sequence>
      <xs:element xmlns:q26="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="AccessRights" nillable="true" type="q26:DataObject" />
      <xs:element xmlns:q27="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="DataObject" nillable="true" type="q27:DataObject" />
      <xs:element xmlns:q28="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="ObjectRights" nillable="true" type="q28:ObjectRights" />
      <xs:element xmlns:q29="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="RequiredFields" nillable="true" type="q29:DataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q30="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="FetchResult" nillable="true" type="q30:FetchResult" />
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q31:EphorteIdentity" />
        <xs:element xmlns:q32="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="dataObjects" nillable="true" type="q32:ArrayOfDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="UpdateResult" nillable="true" type="q33:ArrayOfDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q34:EphorteIdentity" />
        <xs:element xmlns:q35="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="dataObjects" nillable="true" type="q35:ArrayOfDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="InsertResult" nillable="true" type="q36:ArrayOfDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q37:EphorteIdentity" />
        <xs:element xmlns:q38="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="dataObject" nillable="true" type="q38:DataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q39:EphorteIdentity" />
        <xs:element minOccurs="0" name="dataObjectName" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="primaryKeys" nillable="true" type="q40:PrimaryKeyCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q41:EphorteIdentity" />
        <xs:element xmlns:q42="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="arguments" nillable="true" type="q42:InitializeArguments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InitializeArguments">
    <xs:sequence>
      <xs:element xmlns:q43="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="DataObject" nillable="true" type="q43:DataObject" />
      <xs:element name="ReturnAccessRights" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnRequiredFields" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q44="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="InitializeArguments" nillable="true" type="q44:InitializeArguments" />
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="InitializeResult" nillable="true" type="q45:InitializeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InitializeResult">
    <xs:sequence>
      <xs:element xmlns:q46="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="AccessRights" nillable="true" type="q46:DataObject" />
      <xs:element xmlns:q47="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="DataObject" nillable="true" type="q47:DataObject" />
      <xs:element xmlns:q48="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="ObjectRights" nillable="true" type="q48:ObjectRights" />
      <xs:element xmlns:q49="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="RequiredFields" nillable="true" type="q49:DataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q50="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="InitializeResult" nillable="true" type="q50:InitializeResult" />
  <xs:element name="GetCustomFieldDescriptors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q51:EphorteIdentity" />
        <xs:element minOccurs="0" name="dataObjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomFieldDescriptorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="GetCustomFieldDescriptorsResult" nillable="true" type="q52:ArrayOfCustomFieldDescriptor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCustomFieldDescriptor">
    <xs:sequence>
      <xs:element xmlns:q53="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" maxOccurs="unbounded" name="CustomFieldDescriptor" nillable="true" type="q53:CustomFieldDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q54="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ArrayOfCustomFieldDescriptor" nillable="true" type="q54:ArrayOfCustomFieldDescriptor" />
  <xs:complexType name="CustomFieldDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element xmlns:q55="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="DataType" type="q55:DataTypeEnum" />
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxLength" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q56="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="CustomFieldDescriptor" nillable="true" type="q56:CustomFieldDescriptor" />
  <xs:simpleType name="DataTypeEnum">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Undefined">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="String">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Numeric">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Boolean">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DateTime">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element xmlns:q57="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="DataTypeEnum" nillable="true" type="q57:DataTypeEnum" />
  <xs:element name="Submit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="identity" nillable="true" type="q58:EphorteIdentity" />
        <xs:element xmlns:q59="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="changeSet" nillable="true" type="q59:ChangeSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ChangeSet">
    <xs:sequence>
      <xs:element xmlns:q60="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="ChangeSetEntries" nillable="true" type="q60:ArrayOfChangeSetEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q61="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ChangeSet" nillable="true" type="q61:ChangeSet" />
  <xs:complexType name="ArrayOfChangeSetEntry">
    <xs:sequence>
      <xs:element xmlns:q62="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" maxOccurs="unbounded" name="ChangeSetEntry" nillable="true" type="q62:ChangeSetEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q63="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ArrayOfChangeSetEntry" nillable="true" type="q63:ArrayOfChangeSetEntry" />
  <xs:complexType name="ChangeSetEntry">
    <xs:sequence>
      <xs:element xmlns:q64="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="Entity" nillable="true" type="q64:DataObject" />
      <xs:element xmlns:q65="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="Operation" type="q65:EntryOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q66="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ChangeSetEntry" nillable="true" type="q66:ChangeSetEntry" />
  <xs:simpleType name="EntryOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Query" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="Invoke" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q67="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="EntryOperation" nillable="true" type="q67:EntryOperation" />
  <xs:element name="SubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="SubmitResult" nillable="true" type="q68:ChangeSetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ChangeSetResult">
    <xs:sequence>
      <xs:element xmlns:q69="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="OperationResults" nillable="true" type="q69:ArrayOfChangeSetEntryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q70="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ChangeSetResult" nillable="true" type="q70:ChangeSetResult" />
  <xs:complexType name="ArrayOfChangeSetEntryResult">
    <xs:sequence>
      <xs:element xmlns:q71="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" maxOccurs="unbounded" name="ChangeSetEntryResult" nillable="true" type="q71:ChangeSetEntryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q72="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ArrayOfChangeSetEntryResult" nillable="true" type="q72:ArrayOfChangeSetEntryResult" />
  <xs:complexType name="ChangeSetEntryResult">
    <xs:sequence>
      <xs:element xmlns:q73="http://www.gecko.no/ephorte/services/objectmodel/v3/no" minOccurs="0" name="Entities" nillable="true" type="q73:ArrayOfDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q74="http://www.gecko.no/ephorte/services/objectmodel/v3/no" name="ChangeSetEntryResult" nillable="true" type="q74:ChangeSetEntryResult" />
</xs:schema>