net45/Client.Claims.V1/Service References/Claim.V1/ClaimService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.gecko.no/ephorte/services/claim/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimService" targetNamespace="http://www.gecko.no/ephorte/services/claim/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ClaimService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.gecko.no/ephorte/services/claim/v1/Imports">
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/claim/v1/ClaimService.svc?xsd=xsd0" namespace="http://www.gecko.no/ephorte/services/claim/v1" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/claim/v1/ClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/claim/v1/ClaimService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClaimService_GetDataObjectClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectClaims" />
  </wsdl:message>
  <wsdl:message name="ClaimService_GetDataObjectClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectClaimsResponse" />
  </wsdl:message>
  <wsdl:message name="ClaimService_GetUserClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserClaims" />
  </wsdl:message>
  <wsdl:message name="ClaimService_GetUserClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserClaimsResponse" />
  </wsdl:message>
  <wsdl:portType name="ClaimService">
    <wsdl:operation name="GetDataObjectClaims">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/claim/v1/ClaimService/GetDataObjectClaims" message="tns:ClaimService_GetDataObjectClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/claim/v1/ClaimService/GetDataObjectClaimsResponse" message="tns:ClaimService_GetDataObjectClaims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserClaims">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/claim/v1/ClaimService/GetUserClaims" message="tns:ClaimService_GetUserClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/claim/v1/ClaimService/GetUserClaimsResponse" message="tns:ClaimService_GetUserClaims_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ClaimService" type="tns:ClaimService">
    <wsp:PolicyReference URI="#WSHttpBinding_ClaimService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataObjectClaims">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/claim/v1/ClaimService/GetDataObjectClaims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserClaims">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/claim/v1/ClaimService/GetUserClaims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimService">
    <wsdl:port name="WSHttpBinding_ClaimService" binding="tns:WSHttpBinding_ClaimService">
      <soap12:address location="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/claim/v1/ClaimService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/claim/v1/ClaimService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>