net45/Client.Documents.V1/Service References/Documents.V1/DocumentService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Documents.V1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Documents.V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v1/DocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" />
  <xs:complexType name="DocumentCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="EphorteIdentity" nillable="true" type="q1:EphorteIdentity" />
      <xs:element minOccurs="0" name="Variant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentCriteria" nillable="true" type="tns:DocumentCriteria" />
</xs:schema>