net45/Client.Documents.V1/Service References/Documents.V1/DocumentService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gecko.no/ephorte/services/documents/v1" elementFormDefault="qualified" targetNamespace="http://www.gecko.no/ephorte/services/documents/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v1/DocumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v1/DocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Documents.V1" />
  <xs:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v1/DocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" />
  <xs:element name="CheckinMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Content" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Documents.V1" name="DocumentCriteria" nillable="true" type="q2:DocumentCriteria" />
  <xs:element name="CancelCheckout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q3:EphorteIdentity" />
        <xs:element minOccurs="0" name="journalpostId" type="xs:int" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCheckoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q4:EphorteIdentity" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
        <xs:element minOccurs="0" name="variant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="CheckoutResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q6:EphorteIdentity" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
        <xs:element minOccurs="0" name="variant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="GetDocumentContentResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByDokBeskrivId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q8:EphorteIdentity" />
        <xs:element minOccurs="0" name="dokumentId" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
        <xs:element minOccurs="0" name="variant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByDokBeskrivIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="GetDocumentContentByDokBeskrivIdResult" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByJournalPostId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q10:EphorteIdentity" />
        <xs:element minOccurs="0" name="journalpostId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByJournalPostIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="GetDocumentContentByJournalPostIdResult" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByMoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q12:EphorteIdentity" />
        <xs:element minOccurs="0" name="moId" type="xs:int" />
        <xs:element minOccurs="0" name="documentType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByMoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="GetDocumentContentByMoIdResult" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByUbId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q14:EphorteIdentity" />
        <xs:element minOccurs="0" name="ubId" type="xs:int" />
        <xs:element minOccurs="0" name="sakType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByUbIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/Message" name="GetDocumentContentByUbIdResult" type="q15:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q16:EphorteIdentity" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
        <xs:element minOccurs="0" name="variant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>