net35/Client.Documents.V2/Service References/Documents.V2/Documents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.gecko.no/ephorte/services/documents/v2" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Documents" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_Documents_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.gecko.no/ephorte/services/documents/v2" location="http://localhost:8888/Gecko.NCore.Host/Services/Documents/V2/DocumentService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_Documents" type="i0:Documents">
    <wsp:PolicyReference URI="#WSHttpBinding_Documents_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginCheckin">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteCheckinChunk">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/WriteCheckinChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndCheckin">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCheckin">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginCheckout">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCheckoutChunk">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadCheckoutChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndCheckout">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCheckout">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndDocumentRead">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndDocumentRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginReadDocument">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginReadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDocumentChunk">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadDocumentChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReadDocument">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelReadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_Documents" type="i0:Documents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginCheckin">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteCheckinChunk">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/WriteCheckinChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndCheckin">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCheckin">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginCheckout">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCheckoutChunk">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadCheckoutChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndCheckout">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCheckout">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndDocumentRead">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndDocumentRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginReadDocument">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginReadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDocumentChunk">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadDocumentChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReadDocument">
      <soap:operation soapAction="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelReadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Documents">
    <wsdl:port name="WSHttpBinding_Documents" binding="tns:WSHttpBinding_Documents">
      <soap12:address location="http://localhost:8888/Gecko.NCore.Host/Services/Documents/V2/DocumentService.svc/ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8888/Gecko.NCore.Host/Services/Documents/V2/DocumentService.svc/ws</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_Documents" binding="tns:BasicHttpBinding_Documents">
      <soap:address location="http://localhost:8888/Gecko.NCore.Host/Services/Documents/V2/DocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>