net40/Client.Notification.V1/Service References/Notification.V1/NotificationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Notification.V1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Notification.V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EphorteIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalSystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EphorteIdentity" nillable="true" type="tns:EphorteIdentity" />
  <xs:complexType name="NotificationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotificationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotifyChangesAfterThis" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationRequest" nillable="true" type="tns:NotificationRequest" />
</xs:schema>