net45/Client.ChangeTracking.V1/Service References/ChangeTracking.V1/ChangeTrackingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.gecko.no/ephorte/services/changetracking/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChangeTrackingService" targetNamespace="http://www.gecko.no/ephorte/services/changetracking/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ChangeTrackingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.gecko.no/ephorte/services/changetracking/v1/Imports">
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/ChangeTracking/V1/ChangeTrackingService.svc?xsd=xsd0" namespace="http://www.gecko.no/ephorte/services/changetracking/v1" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/ChangeTracking/V1/ChangeTrackingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/ChangeTracking/V1/ChangeTrackingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ChangeTrackingService_GetChangesForCaseDataObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesForCaseDataObjects" />
  </wsdl:message>
  <wsdl:message name="ChangeTrackingService_GetChangesForCaseDataObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesForCaseDataObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeTrackingService_GetChangesForRecordDataObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesForRecordDataObjects" />
  </wsdl:message>
  <wsdl:message name="ChangeTrackingService_GetChangesForRecordDataObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesForRecordDataObjectsResponse" />
  </wsdl:message>
  <wsdl:portType name="ChangeTrackingService">
    <wsdl:operation name="GetChangesForCaseDataObjects">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/changetracking/v1/ChangeTrackingService/GetChangesForCaseDataObjects" message="tns:ChangeTrackingService_GetChangesForCaseDataObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/changetracking/v1/ChangeTrackingService/GetChangesForCaseDataObjectsResponse" message="tns:ChangeTrackingService_GetChangesForCaseDataObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangesForRecordDataObjects">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/changetracking/v1/ChangeTrackingService/GetChangesForRecordDataObjects" message="tns:ChangeTrackingService_GetChangesForRecordDataObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/changetracking/v1/ChangeTrackingService/GetChangesForRecordDataObjectsResponse" message="tns:ChangeTrackingService_GetChangesForRecordDataObjects_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ChangeTrackingService" type="tns:ChangeTrackingService">
    <wsp:PolicyReference URI="#WSHttpBinding_ChangeTrackingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChangesForCaseDataObjects">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/changetracking/v1/ChangeTrackingService/GetChangesForCaseDataObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangesForRecordDataObjects">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/changetracking/v1/ChangeTrackingService/GetChangesForRecordDataObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChangeTrackingService">
    <wsdl:port name="WSHttpBinding_ChangeTrackingService" binding="tns:WSHttpBinding_ChangeTrackingService">
      <soap12:address location="http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/ChangeTracking/V1/ChangeTrackingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://gvs-e4-2-0.gecko.no/ePhorteWeb/Services/ChangeTracking/V1/ChangeTrackingService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>