net40/Client.Functions.V1/Service References/Functions.V1/FunctionsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.gecko.no/ephorte/services/functions/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gecko.no/ephorte/services/functions/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.gecko.no/ephorte/services/functions/v1/Imports">
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd2" namespace="http://www.gecko.no/ephorte/services/functions/v1" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd1" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Functions.V1" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FunctionsService_QueryFunctionDescriptors_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryFunctionDescriptors" />
  </wsdl:message>
  <wsdl:message name="FunctionsService_QueryFunctionDescriptors_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryFunctionDescriptorsResponse" />
  </wsdl:message>
  <wsdl:message name="FunctionsService_ExecuteFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFunction" />
  </wsdl:message>
  <wsdl:message name="FunctionsService_ExecuteFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="FunctionsService">
    <wsdl:operation name="QueryFunctionDescriptors">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/functions/v1/FunctionsService/QueryFunctionDescriptors" message="tns:FunctionsService_QueryFunctionDescriptors_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/functions/v1/FunctionsService/QueryFunctionDescriptorsResponse" message="tns:FunctionsService_QueryFunctionDescriptors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteFunction">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/functions/v1/FunctionsService/ExecuteFunction" message="tns:FunctionsService_ExecuteFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/functions/v1/FunctionsService/ExecuteFunctionResponse" message="tns:FunctionsService_ExecuteFunction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>