net45/Client.Functions.V2/Service References/Functions.V2/FunctionsService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.gecko.no/ephorte/services/functions/v2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FunctionsService" targetNamespace="http://www.gecko.no/ephorte/services/functions/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_FunctionsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_FunctionsService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.gecko.no/ephorte/services/functions/v2/Imports">
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc?xsd=xsd0" namespace="http://www.gecko.no/ephorte/services/functions/v2" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FunctionsService_QueryFunctionDescriptors_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryFunctionDescriptors" />
  </wsdl:message>
  <wsdl:message name="FunctionsService_QueryFunctionDescriptors_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryFunctionDescriptorsResponse" />
  </wsdl:message>
  <wsdl:message name="FunctionsService_ExecuteFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFunction" />
  </wsdl:message>
  <wsdl:message name="FunctionsService_ExecuteFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="FunctionsService">
    <wsdl:operation name="QueryFunctionDescriptors">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/QueryFunctionDescriptors" message="tns:FunctionsService_QueryFunctionDescriptors_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/QueryFunctionDescriptorsResponse" message="tns:FunctionsService_QueryFunctionDescriptors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteFunction">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/ExecuteFunction" message="tns:FunctionsService_ExecuteFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/ExecuteFunctionResponse" message="tns:FunctionsService_ExecuteFunction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_FunctionsService" type="tns:FunctionsService">
    <wsp:PolicyReference URI="#WSHttpBinding_FunctionsService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryFunctionDescriptors">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/QueryFunctionDescriptors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteFunction">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/ExecuteFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_FunctionsService1" type="tns:FunctionsService">
    <wsp:PolicyReference URI="#WSHttpBinding_FunctionsService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryFunctionDescriptors">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/QueryFunctionDescriptors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteFunction">
      <soap12:operation soapAction="http://www.gecko.no/ephorte/services/functions/v2/FunctionsService/ExecuteFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FunctionsService">
    <wsdl:port name="WSHttpBinding_FunctionsService" binding="tns:WSHttpBinding_FunctionsService">
      <soap12:address location="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_FunctionsService1" binding="tns:WSHttpBinding_FunctionsService1">
      <soap12:address location="https://localhost:44300/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44300/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>