net35/Client.Metadata.V1/Service References/Metadata.V1/MetadataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gecko.no/ephorte/services/metadata/v1" elementFormDefault="qualified" targetNamespace="http://www.gecko.no/ephorte/services/metadata/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Metadata/V1/MetadataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" />
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Metadata/V1/MetadataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Metadata.V1" />
  <xs:element name="GetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" minOccurs="0" name="identity" nillable="true" type="q1:EphorteIdentity" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Metadata.V1" minOccurs="0" name="identifier" nillable="true" type="q2:MetadataIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Metadata.V1" minOccurs="0" name="GetMetadataResult" nillable="true" type="q3:MetadataList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>