net35/Client.Metadata.V1/Service References/Metadata.V1/MetadataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EphorteIdentity">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Defines the identity of the user executing the request.
            &lt;/summary&gt;
            &lt;seealso cref="T:IEphorteIdentity" /&gt;
            &lt;seealso cref="T:EphorteIdentityComparer" /&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the database.
            &lt;/summary&gt;
            &lt;value&gt;The database.&lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the password.
            &lt;/summary&gt;
            &lt;value&gt;The password.&lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the role.
            &lt;/summary&gt;
            &lt;value&gt;The role.&lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the username.
            &lt;/summary&gt;
            &lt;value&gt;The username.&lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExternalSystemName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the name of the external system.
            &lt;/summary&gt;
            &lt;value&gt;The name of the external system.&lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EphorteIdentity" nillable="true" type="tns:EphorteIdentity" />
</xs:schema>