net35/Client.Notification.V1/Service References/Notification.V1/NotificationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gecko.no/ephorte/services/notification/v1" elementFormDefault="qualified" targetNamespace="http://www.gecko.no/ephorte/services/notification/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Gecko.NCore.Host/Services/Notification/V1/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Notification.V1" />
  <xs:element name="Notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Notification.V1" minOccurs="0" name="ephorteIdentity" nillable="true" type="q1:EphorteIdentity" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Notification.V1" minOccurs="0" name="notificationRequest" nillable="true" type="q2:NotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>