net45/Client.Documents.V2/Service References/Documents.V2/DocumentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.gecko.no/ephorte/services/documents/v2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gecko.no/ephorte/services/documents/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.gecko.no/ephorte/services/documents/v2/Imports">
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v2/DocumentService.svc?xsd=xsd0" namespace="http://www.gecko.no/ephorte/services/documents/v2" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v2/DocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v2/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts" />
      <xsd:import schemaLocation="http://gvs-e4-2-0.gecko.no/ePhorteWeb/services/documents/v2/DocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ephorte.ServiceModel.Contracts.Documents.V2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Documents_BeginCheckin_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginCheckin" />
  </wsdl:message>
  <wsdl:message name="Documents_BeginCheckin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginCheckinResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_WriteCheckinChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteCheckinChunk" />
  </wsdl:message>
  <wsdl:message name="Documents_WriteCheckinChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteCheckinChunkResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_EndCheckin_InputMessage">
    <wsdl:part name="parameters" element="tns:EndCheckin" />
  </wsdl:message>
  <wsdl:message name="Documents_EndCheckin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndCheckinResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_CancelCheckin_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCheckin" />
  </wsdl:message>
  <wsdl:message name="Documents_CancelCheckin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCheckinResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_BeginCheckout_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginCheckout" />
  </wsdl:message>
  <wsdl:message name="Documents_BeginCheckout_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_ReadCheckoutChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCheckoutChunk" />
  </wsdl:message>
  <wsdl:message name="Documents_ReadCheckoutChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCheckoutChunkResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_EndCheckout_InputMessage">
    <wsdl:part name="parameters" element="tns:EndCheckout" />
  </wsdl:message>
  <wsdl:message name="Documents_EndCheckout_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_CancelCheckout_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCheckout" />
  </wsdl:message>
  <wsdl:message name="Documents_CancelCheckout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_EndDocumentRead_InputMessage">
    <wsdl:part name="parameters" element="tns:EndDocumentRead" />
  </wsdl:message>
  <wsdl:message name="Documents_EndDocumentRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndDocumentReadResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_BeginReadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginReadDocument" />
  </wsdl:message>
  <wsdl:message name="Documents_BeginReadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginReadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_ReadDocumentChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadDocumentChunk" />
  </wsdl:message>
  <wsdl:message name="Documents_ReadDocumentChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadDocumentChunkResponse" />
  </wsdl:message>
  <wsdl:message name="Documents_CancelReadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelReadDocument" />
  </wsdl:message>
  <wsdl:message name="Documents_CancelReadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelReadDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="Documents">
    <wsdl:operation name="BeginCheckin">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckin" message="tns:Documents_BeginCheckin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckinResponse" message="tns:Documents_BeginCheckin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteCheckinChunk">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/WriteCheckinChunk" message="tns:Documents_WriteCheckinChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/WriteCheckinChunkResponse" message="tns:Documents_WriteCheckinChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndCheckin">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckin" message="tns:Documents_EndCheckin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckinResponse" message="tns:Documents_EndCheckin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCheckin">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckin" message="tns:Documents_CancelCheckin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckinResponse" message="tns:Documents_CancelCheckin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginCheckout">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckout" message="tns:Documents_BeginCheckout_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginCheckoutResponse" message="tns:Documents_BeginCheckout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCheckoutChunk">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadCheckoutChunk" message="tns:Documents_ReadCheckoutChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadCheckoutChunkResponse" message="tns:Documents_ReadCheckoutChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndCheckout">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckout" message="tns:Documents_EndCheckout_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndCheckoutResponse" message="tns:Documents_EndCheckout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCheckout">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckout" message="tns:Documents_CancelCheckout_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelCheckoutResponse" message="tns:Documents_CancelCheckout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndDocumentRead">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndDocumentRead" message="tns:Documents_EndDocumentRead_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/EndDocumentReadResponse" message="tns:Documents_EndDocumentRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginReadDocument">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginReadDocument" message="tns:Documents_BeginReadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/BeginReadDocumentResponse" message="tns:Documents_BeginReadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadDocumentChunk">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadDocumentChunk" message="tns:Documents_ReadDocumentChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/ReadDocumentChunkResponse" message="tns:Documents_ReadDocumentChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelReadDocument">
      <wsdl:input wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelReadDocument" message="tns:Documents_CancelReadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://www.gecko.no/ephorte/services/documents/v2/Documents/CancelReadDocumentResponse" message="tns:Documents_CancelReadDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>